body{
 font-family: "Rubik", sans-serif;
 font-weight: 400;
 scroll-behavior: smooth;
}
.gradient{
           background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}
.form-error{
     font-size: smaller;
     color: #dc3545;
     font-style: italic;
}
.img{
     width: 100dvh;
     height: auto;
     object-fit: cover;
     border-radius: 8px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}